<div class="container">
    <div class="row">
        <div class="col-md-3 bigger">
            <div class="home-bg singleplayer-bg"></div>
            <div class="caption">
                <h3>Single player</h3>
                <p>Play on your own.</p>
                <p>
                    &nbsp;<span class="label label-danger"></span>
                </p>
                <a href="#/play" class="btn btn-red" role="button">Play</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="home-bg multi-join-bg"></div>
            <div class="caption">
                <h3>Join Game</h3>
                <p>Join someone else's server.</p>
                <p>
                    &nbsp;<span class="label label-danger"></span>
                </p>
                <a ng-click="join()" class="btn btn-red" role="button">Join</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="home-bg multi-host-bg"></div>
            <div class="caption">
                <h3>Host game</h3>
                <p>Set up your own game server.</p>
                <p>
                    <span class="label label-danger">Not recommended for mobile</span>
                </p>
                <a ng-click="host()" ng-class="signedIn() ? '' : 'disabled'" class="btn btn-red" role="button">Host</a>
            </div>
        </div>
        <div class="col-md-1 no-padding">
            <ul rn-carousel rn-carousel-buffered rn-carousel-controls class="carousel">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>