<ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Highscores</li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h3>Your scores</h3>
            <div class="center">
                <dl class="half">
                    <dt>Quickest singleplayer win</dt>
                    <dd>{{ scores.quickestRound }}</dd>

                    <dt>Total asteroids destroyed</dt>
                    <dd>{{ scores.asteroidsKilled }}</dd>

                    <dt>Asteroids destroyed 1 round</dt>
                    <dd>{{ scores.asteroidsKilled1Round }}</dd>
                </dl><dl class="half">
                    <dt>Earths saved (singleplayer)</dt>
                    <dd>{{ scores.singleplayerWins }}</dd>

                    <dt>Earths saved (multiplayer)</dt>
                    <dd>{{ scores.multiplayerWins }}</dd>

                    <dt>Enemy heroes killed</dt>
                    <dd>{{ scores.playersKilled }}</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-3 smaller fit"></div>
    </div>

    <div class="row">
        <div class="col-md-3 bigger">
            <h3>Highscores</h3>
            <table>
                <tr >
                    <th style="width: 10%">#</th>
                    <th style="width: 44%">Name</th>
                    <th style="width: 22%">Single</th>
                    <th style="width: 22%">Multi</th>
                </tr>
                <tr ng-repeat="score in highscores">
                    <td>{{ $index+1 }}</td>
                    <td>{{ score.name }}</td>
                    <td>{{ score.singleplayerWins }}</td>
                    <td>{{ score.multiplayerWins }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-2 smaller fit"></div>
    </div>
</div>