<div class="row">
    <div class="col-md-2" id="pc-controls">
        <h3>PC controls</h3>
        <dl>
            <dt>Moving</dt>
            <dd>
                Click the screen to trigger a pointer lock and give this website permission to use it.
                <ul class="spaced">
                    <li>With pointerlock: Simply move the mouse left and right to turn in that direction.</li>
                    <li>Without pointerlock: Move your mouse to the side of the window that you want to turn to.</li>
                </ul>
            </dd>

            <dt>Selecting abilities</dt>
            <dd>Either scroll with the mousewheel or press 1, 2 or 3 on the keyboard to select the ability.</dd>

            <dt>Using abilities</dt>
            <dd>
                Right click to use the current ability. Each ability has a cooldown, but you can use multiple abilities at once.
                <ul class="spaced">
                    <li><strong>#1 Laserbeam</strong>: Fires a laser out of your eyes that splits asteroids in two. It can also stun enemy players for a short time.</li>
                    <li><strong>#2 Punch</strong>: A classic punch that minifies asteroids and knocks out enemy players.</li>
                    <li><strong>#3 Speed boost</strong>: Quickly accelerate to advoid incoming attacks or to get coser to your target.</li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="col-md-3 small bigger">
        <h3>Mobile controls</h3>
        <dt>Moving</dt>
        <dd>
            <ul class="spaced">
                <li>On modern devices you can rotate the device to move in that direction.</li>
                <li>Slide your finger over the screen to turn on other devices.</li>
            </ul>
        </dd>
        <dt>Selecting abilities</dt>
        <dd>
            There are two possibilities, depending on the size of your device.
            <ul class="spaced">
                <li>Click an ability in the HUD to select and use it on smaller devices.</li>
                <li>Click the left side of the screen to select the next ability on bigger devices.</li>
            </ul>
        </dd>
        <dt>Using abilities</dt>
        <dd>Click the right side of the screen to use the currently selected ability.</dd>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <h3>Tips &amp; tricks</h3>
        <dl>
            <dt>Singleplayer</dt>
            <dd>
                <ul class="spaced">
                    <li>Destroy all big asteroids to win the game. Their current count is indicated on your HUD.</li>
                    <li>Consider using your fists instead of your laser since they have a shorter cooldown and cause less debris.</li>
                    <li>Try punching asteroids from the side to prevent the debris from hitting you.</li>
                    <li>Use your speedboost to advoid collisions or to catch up with fast moving asteroids.</li>
                </ul>
            </dd>

            <dt>Multiplayer</dt>
            <dd>
                <ul class="spaced">
                    <li>Kill all enemy players to win the game. Their current count is indicated on your HUD.</li>
                    <li>Track enemies through the world by looking for their red reticles or by following their smoke trails.</li>
                    <li>Try stunning your enemies to prevent them from getting away.</li>
                </ul>
            </dd>
        </dl>
    </div>
</div>