<div class="ngdialog-message">
    <form role="form" name="hostForm" novalidate>
        <div class="form-group">
            <label for="peerserver">Peer server:</label>
            <input type="peerserver" class="form-control" id="peerserver" name="peerserver" ng-model="server.peerserver" />
        </div>

        <div class="form-group">
            <label for="peerport">Peer server port:</label>
            <input type="number" min="0" class="form-control" id="peerport" name="peerport" ng-model="server.peerport" />
        </div>

        <button class="btn btn-primary" ng-click="validatePeer()" ng-disabled="hostForm.peerport.$invalid">
            Join
        </button>
        <button class="btn btn-default" ng-click="skipPeer()">
            Skip
        </button>
    </form>
</div>