<div class="ngdialog-message">
    <tabset justified="true">
    <tab heading="Sign in">
        <form role="form" name="signinForm" novalidate>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required ng-model="user.username" />
            </div>

            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" name="pwd" required ng-model="user.password" />
            </div>

            <button class="btn btn-primary" ng-click="signIn()" ng-disabled="signinForm.username.$invalid || signinForm.pwd.$invalid">
                Sign in
            </button>
            <button class="btn btn-default" ng-click="close()">
                Cancel
            </button>
        </form>
    </tab>
    <tab heading="Sign up">
        <form role="form" name ="signupForm" novalidate>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required ng-model="user.username">
            </div>

            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" name="pwd" required ng-model="user.password">
            </div>

            <div class="form-group">
                <label for="pwd2">Repeat password:</label>
                <input type="password" class="form-control" id="pwd2" name="pwd2" required ng-model="user.password2">
            </div>

            <button class="btn btn-primary" ng-click="signUp() "ng-disabled="signupForm.username.$invalid || signupForm.pwd.$invalid || user.password !== user.password2">
                Sign up
            </button>
            <button class="btn btn-default" ng-click="close()">
                Cancel
            </button>
        </form>
    </tab>
    </tabset>
</div>