<div class="ngdialog-message">
    <h3>Sign in</h3>
    <form role="form" name="signinForm" novalidate>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required ng-model="user.username" />
        </div>

        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="pwd" required ng-model="user.password" />
        </div>

        <div class="form-group">
            <label><input type="checkbox" name="rememberme" ng-model="user.rememberme"> Remember me</label>
        </div>
        <div class="buttons">
            <button class="btn small" ng-click="signIn()" ng-disabled="signinForm.username.$invalid || signinForm.pwd.$invalid">
                Sign in
            </button>
            <a class="btn btn-clear small" ng-click="close()">Cancel</a>
            <a class="btn btn-clear small" ng-click="showSignUp()">Sign up</a>
        </div>
    </form>
</div>